<!-- views/partials/header.ejs -->

<div>
    <p>TÜBİTAK Gebze Yerleşkesi Tekn. Gelişim Bölgesi Kuluçka Merkezi Gebze/Kocaeli	<p>
</div>
		
		
<div>
    <p>&copy Copyright 2017. All rights reserved</p>
</div>