<!-- views/partials/header.ejs -->

<div>
    <p>GİZ BİLİŞİM Ar-Ge Eğt. Dnş. San. ve Tic. Ltd. Şti.
Barış mah. Dr.Zeki Acar Cd. TUBİTAK MARTEK 1 -1/4
Gebze /Kocaeli
	<p>
</div>
		
		
<div>
    <p>&copy Copyright 2018. All rights reserved</p>
</div>