<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
		 <% include ../head %>
</head>
<body>
	<div id="header">
		 <% include ../header %>
	</div>
	<div id="body">
		<div class="about">
			<h1>Hakkımızda</h1>
			<div>
				<p>Son yıllarda sayısallaşma çok hızlı bir şekilde artıyor. Varlıklarımızı hep sayısal ortamlarda saklıyoruz. Eğitimden eğlenceye, üretimden ticarete, iletişimden taşımacılığa, bireysel, kurumsal, ulusal veya uluslararası sivil ve askeri alanlarda kullanılan sistem ve cihazlarda mutlaka bir sayısal bilgisayar bulunmaktadır. Dolayısıyla işlerimizi sayısal ortamda kolaylaştırırken, bizim dışımızda kötü niyetliler tarafından da istismar edilerek çalınması sistemlerin ifşa edilmesi ile karşılaşıyoruz. Sonuçta, sayısallaşan varlıkları korumak gittikçe zorlaşıyor. </p>
			</div>
			<div>
				<p>Programlanabilme özelliği nedeniyle çok farklı fonksiyonu yapabilmeleri çok önemli bir özellik ve avantaj olmaktadır.</p>
			</div>
			<div>
				
				<p>Programlanabilirlik esneklik sağlarken gerek kötü niyetlilerin gerekse rakip ve teröristlerin işini kolaylaştırmaktadır.</p>
				<div><p>	Dolayısıyla; </p></div>
                <p> Rekabet, üstünlük sağlama, terörist eylemler, hırsızlık, istihbarat ve bilgi toplama, casusluk, uluslararası mücadele ve savaş bu sistemler kullanılarak daha az maliyetle yapılabilmektedir. Ayrıca gerçeklenen eylemlerin etkisi daha geniş ve derin olabilmektedir.</p>
				<p>Bilgi güvenliği saldırıları ve siber güvenlik saldırılarının çoğu yazılım zayıflıklarını kullanarak yapılmakta, güvenlik ihlallerinin yaklaşık yüzde 70'nin yazılım zayıflıklarından kaynaklanmaktadır. Yazılım açıklıkları hızlı tespit edilemiyor ve saldırganlar yazılım zayıflıklarını kullanıyor. Yazılım zayıflıkları saldırganların tespit edip amaçlarını gerçekleştirebildikleri sistemlerin yumuşak karnıdır. Dolayısıyla yazılım zayıflığı tabanlı saldırılarda son senelerde ciddi artış gözlenmekte ve bu artmaya da devam edecektir.</p>
				<p>Bilişim sistemleri ve uygulamaları için artan güvenlik risklerinin yönetimi ve etkilerinin en aza indirilmesi ve yeni koruma tekniklerinin geliştirilmesi için Ar-Ge yapılması özellikle yeni yöntemlerin ve bilimsel çalışmaların teknoloji ve ürüne dönüştürülmesi hayati öneme sahiptir.</p>
                
			</div>
           <div>
				
				<p>Şirketimiz öncelikle Bilgi güvenliği ve siber güvenlik konularında Ar-Ge çalışmaları gerçekleştirerek özgün çözüm ve ürün geliştirmek amacıyla kurulmuştur. Bu bağlamda Güvenli Bilişim sistemleri uygulamaları geliştirilmesi de faaliyet alanlarımız içindedir</p>
			</div>
		</div>
	</div>
	<div id="footer">
		 <% include ../footer %>
	</div>
	</body>
</html>