<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
		 <% include ../head %>
</head>
<body>
	<div id="header">
		 <% include ../header %>
	</div>
	<div id="body">
		<div class="services">
			<h1>Hizmetler</h1>
			<div>
				<h2>Ar-Ge projeleri danışmanlık </h2>
				<p>Güvenli Bilişim uygulamaları ve siber güvenlik alanında geliştirilecek yenilikçi Ar-Ge projelerinin her aşamasında deneyimli ve akademik ünvanlı personelimiz ile danışmanlık hizmetleri </p>
			</div>
			<div>
				<h2>Güvenlik analiz ve tasarımı </h2>	
                <p>Bilgisayar ağları ve Bilişim sistemleri birbirleriyle bütünleşik olarak çalışmaktadır. Dolayısı ile bilişim sistemi tabanlı BT uygulamalarının güvenli şekilde tasarım ve gerçeklenmesi ve idamesi hayati öneme sahiptir. Bilgi güvenliği risk analizi de dahil olmak üzere BT sistem ve uygulamaları güvenlik ve risk analizi ile tasarım hizmeti </p>
			</div>
            <div>
				<h2>Adli delil analizi</h2>
                <p>Bilişim sistemlerine yapılan herhangi bir saldırı ve ya güvenlik ihlali sonrasında durumu anlayıp gerekli adli işlemlere başlayabilme için ön analiz yapılması önemlidir. Çünkü doğru bilgilerin toplanarak olası suçlular hakkında ihbar yapıp gerçek suçluların ortaya çıkarılması ve verdikleri zararın tazmin edilmesi kişi ve kurumlar için önemlidir. Firmamız bu tür hizmetleri de vermektedir.</p>
			</div>
            <div>
				<h2>Sızma testleri</h2>
                <p>Bilişim sistemlerinin zayıflıklarının proaktif şekilde önceden analiz edilerek öğrenilmesi ve olası zayıflıkların yazılım, donanım güvenlik yönetimi ve kullanıcılar temelinde giderilmesi kurumunuza yapılabilecek birçok saldırının başarısız olmasını sağlayıp büyük kayıpların önüne geçebilecektir. Bu bağlamda bilimsel yaklaşımlar ile yapılacak sızma ve açıklık testleri ve raporlama hizmeti sonunda BT sistem ve uygulamalarındaki zayıflıklar giderilerek çok büyük kayıpların önüne geçebilirsiniz.</p>
			</div>
            <div>
				<h2>Kimlik doğrulama sistemleri</h2>
                <p>Bilişim Teknoloji ve uygulamalarında güvenlik açısından kimlik doğrulama ve yetkilendirmede birçok yeni teknik geliştirilmiş olsa da hala şifreler kırılabilmekte, başkasının yerine işlem yapılabilmektedir. Giz bilişim bu bağlamda kimlik doğrulama teknikleri konusunda bilimsel Ar-Ge proje çalışmaları yürütmekte ve sonuçlarını uygulamaya koymayı hedeflemiştir.</p>
			</div>
            <div>
				<h2>Danışmanlık</h2>
                <p>Bilişim uygulamaları, bilgi güvenliği yönetimi  ve Siber güvenlik alanında  Ar- Ge projeleri danışmanlıkları.</p>
			</div>
            <div>
				<h2>Eğitim</h2>
                <p>Kadromuzda akademik deneyimli uzmanlardan Bilgi güvenliği Mühendisliği, Sızma testleri, Yazılım güvenliği, Bilgi güvenliği yönetimi ve Bütünleşik çözümler konularında kapsamlı eğitim.</p>
			</div>
		<!--	<div>
				<div>
					<img src="images/settings.jpg" alt="" />		
					<h3>Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you’re looking for.</h3>	
					<p>But if you don’t find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you’re looking for something different, something special. And we love the challenge of doing something different and something special.</p>	
				</div>		
				<div>
					<img src="images/globe2.jpg" alt="" />		
					<h3>Integer cursus odio vel lorem fringilla et faucibus justo malesuada. Morbi ut eros vitae turpis mattis ultrices sit amet sit amet augue. </h3>		
					<p> Phasellus quis est et massa rhoncus hendrerit quis ut justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
				</div>	
				<div>
					<img src="images/stats.jpg" alt="" />			
					<h3>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</h3>	
					<p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum">Forum</a>.</p>
				</div>
			</div> -->
		</div>
	</div>
    <div id="footer">
		 <% include ../footer %>
	</div>
	</body>
</html>