<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
 <% include ../head %>
</head>
<body>
<div id="header">

		 <% include ../header %>
	
	</div>
	<div id="body">
		<div class="contact">
			<h1>İletİşİm</h1>
			
			<div>	
			
				<ul>
					<li>GİZ BİLİŞİM Ar-Ge Eğt. Dnş. San. ve Tic. Ltd. Şti.</li>
	<li>Barış mah. Dr.Zeki Acar Cd. TUBİTAK MARTEK 1 -1/4</li>
	<li>Gebze /Kocaeli
</li>
					<li>E-posta: gizbil@gizbil.com</li>
					<li>GSM: 05332307285</li>
					
				</ul>
			
			</div>	
		</div>
	</div>
	<div id="footer">
		 <% include ../footer %>
	</div>
	</body>
</html>