<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
 <% include ../head %>
</head>
<body>
<div id="header">

		 <% include ../header %>
	
	</div>
	<div id="body">
		<div class="contact">
			<h1>contact us</h1>
			<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum">Forum</a>.</p>	
			<div>	
			<h3>AMERICA</h3>
				<ul>
					<li>Suspendisse potenti suspendisse potenti</li>
					<li>1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345</li>
					<li>Tel: + 457-380-1654 000</li>
					<li>Toll Free: + 257-301-9417 000</li>
					<li>Email: emailus@companyemail.com</li>
				</ul>
			<h3>EUROPE</h3>
				<ul>
					<li>Fusce fermentum dignissim tellus</li>
					<li>1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345</li>
					<li>Tel: + 457-380-1654 000</li>
					<li>Toll Free: + 257-301-9417 000</li>
					<li>Email: emailus@companyemail.com</li>
				</ul>		
			<h3>CANADA</h3>
				<ul>
					<li>Fusce fermentum dignissim tellus</li>
					<li>1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345</li>
					<li>Tel: + 457-380-1654 000</li>
					<li>Toll Free: + 257-301-9417 000</li>
					<li>Email: emailus@companyemail.com</li>
				</ul>
			<h3>MIDDLE EAST</h3>
				<ul>
					<li>This website template has been designed</li>
					<li>1234 By freewebsitetemplates.com for you, for free, XY 12345</li>
					<li>Tel: + 457-380-1654 000</li>
					<li>Toll Free: + 257-301-9417 000</li>
					<li>Email: emailus@companyemail.com</li>			
				</ul>	
			</div>	
		</div>
	</div>
	<div id="footer">
		 <% include ../footer %>
	</div>
	</body>
</html>