<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
 <% include ../head %>
</head>
<body>
	<div id="header">
		 <% include ../header %>
	</div>
	<div id="body">
		<div class="header">
			<div>
				<ul>
					<li><img src="images/rsz_it-security-awareness-training.png" alt="" /></li>	
                    <li><img src="images/rsz_security-world.png" alt="" /></li>
				</ul>		
				<div>
					<h3>Siber Güvenlikte Yenilikçi Çözümler</h3>	
					<p>GİZ Bilişim, Öncelikle Siber güvenlik alanında Ar-Ge, Eğitim, proje ve danışmanlık faaliyetleri yürütmektedir. </p>		
				</div>
			</div>
		</div>
		<div class="body">
			<div class="section">
				<a href="hizmetler">
				<img src="images/gears.jpg" alt="" />				
				Hizmetler
				</a>			
			</div>	
			<div class="article">
				<img src="images/graph2.jpg" alt="" />		
                <h4>Danışmanlık </h4>	
				<p>Bilişim uygulamaları, bilgi güvenliği yönetimi  ve Siber güvenlik alanında  Ar- Ge projeleri danışmanlıkları</p>
			</div>
			<div class="section">
				<a href="hakkimizda"><img src="images/globe.jpg" alt="" />Hakkımızda</a>			
			</div>		
		</div>
		<div class="footer">
			<div class="section">
				<h3><a href="hakkimizda">Hizmetlerden Bazıları
                    </a></h3>	
				<ul>
                    <li>
						<p>Sızma testleri</p>				
						<span> Bilimsel yaklaşımlar ile yapılacak sızma ve açıklık testleri ve raporlama hizmeti sonunda BT sistem ve uygulamalarındaki zayıflıklar giderilerek çok büyük kayıpların önüne geçebilirsiniz.</span>
					</li>
					<li>
						<p>Yenilikçi çözümler</p>	
						<span>Güvenli bilişim sistemi uygulamaları, Bilgi güvenliği ve Siber Güvenlik </span>		
					</li>		
					<li>
						<p>Güvenlik analiz ve tasarımı </p>
						<span> Bilgi güvenliği risk analizi de dahil olmak üzere BT sistem ve uygulamaları güvenlik ve risk analizi ile tasarım hizmeti </span>				
					</li>	
		
				</ul>	
			</div>
		<div class="featured">
			<ul>
				<li>
					<h3> Kimlik doğrulama sistemleri</h3>	
                    <img src="images/kimlikdogrulama.jpg" alt="" />
					<p>
                    Bilişim Teknoloji ve uygulamalarında güvenlik açısından kimlik doğrulama ve yetkilendirmede birçok yeni teknik geliştirilmiş olsa da hala şifreler kırılabilmekte, başkasının yerine işlem yapılabilmektedir. Giz bilişim bu bağlamda kimlik doğrulama teknikleri konusunda bilimsel Ar-Ge proje çalışmaları yürütmekte ve sonuçlarını uygulamaya koymayı hedeflemiştir.  </p>		
				</li>		
				<li>
					<h3> Ar-Ge projeleri</h3>
					<img src="images/discussing.jpg" alt="" />
					<p>
                    Güvenli Bilişim uygulamaları ve siber güvenlik alanında geliştirilecek yenilikçi Ar-Ge projelerinin her aşamasında deneyimli ve akademik ünvanlı personelimiz ile danışmanlık hizmetleri</p>
				</li>	
			</ul>		
		</div>
		<div class="section">
            <h3><a href="hakkimizda"> Başlıca Değerler</a></h3>	
			<ul class="news">
				<li>
					<p>Sayısal ortamlarda saklanan veriler</p>			
				</li>		
				<li>
					<p>Programlanabilme özelliği </p>				
				</li>	
				<li>
					<p>Bilişim sistemleri ve uygulamaları için artan güvenlik risklerinin yönetimi ve etkilerinin en aza indirilmesi </p>							
				</li>		
				<li>
					<p>yeni koruma tekniklerinin geliştirilmesi için Ar-Ge yapılması özellikle yeni yöntemlerin ve bilimsel çalışmaların teknoloji ve ürüne dönüştürülmesi</p>
				</li>
				
			</ul>	
		</div>
		</div>
	</div>
	<div id="footer">
		 <% include ../footer %>
	</div>
</body>
</html>