<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
 <% include ../head %>
</head>
<body>
	<div id="header">
		 <% include ../header %>
	</div>
	<div id="body">
		<div class="header">
			<div>
				<ul>
					<li><img src="images/discuss.jpg" alt="" /></li>	
					<li><img src="images/flags.jpg" alt="" /></li>
					<li><img src="images/graph.jpg" alt="" /></li>		
				</ul>		
				<div>
					<h3>Siber Güvenlikte Yenilikçi Çözümler</h3>	
					<p>GİZ Bilişim, Öncelikle Siber güvenlik alanında Ar-Ge, Eğitim, proje ve danışmanlık faaliyetleri yürütmektedir. </p>		
				</div>
			</div>
		</div>
		<div class="body">
			<div class="section">
				<a href="services.html">
				<img src="images/gears.jpg" alt="" />				
				Hizmetler
				</a>			
			</div>	
			<div class="article">
				<img src="images/graph2.jpg" alt="" />		
				<h4>Farklı resimler ve bilgilerle genişletilebilecek bir alan </a></h4>	
				<p>özet bilgiler verilebilir verilen bilgiler slayt akışında görülebilir, yapılan çalışmalar ya da reklam maiyetindeki birkaç bilgilendirme ile gösteriş yapılabilir</p>
			</div>
			<div class="section">
				<a href="about.html"><img src="images/globe.jpg" alt="" />Hakkımızda</a>			
			</div>		
		</div>
		<div class="footer">
			<div class="section">
				<h3><a href="blog.html"> Yan Başlık</a></h3>	
				<ul>
					<li>
						<p>yanlist 1</p>	
						<span>Sept 21, by Nullam | 99 Views | 69 Comments</span>		
					</li>		
					<li>
						<p>yanlist 2</p>
						<span>Sept 21, by Nullam | 99 Views | 69 Comments</span>				
					</li>	
					<li>
						<p>yanlist 3</p>				
						<span>Sept 21, by Nullam | 99 Views | 69 Comments</span>
					</li>		
				</ul>	
			</div>
		<div class="featured">
			<ul>
				<li>
					<h3>uclu bolumun ortası list 1</h3>		
					<p>liste ile bağdaştırılıp değişik arayüzler eklenebilir</p>		
					<span>Sept 21, by Nullam | 99 Views | 69 Comments</span>
				</li>		
				<li>
					<h3>uclu bolumun ortası list 2</h3>
					<img src="images/discussing.jpg" alt="" />
					<p>Morbi non leo augue, et hendrerit lectus. Pellentesque ultricies sapien ornare ipsum tempor lobortis ullamcorper urna</p>
					<span>Sept 21, by Nullam | 99 Views | 69 Comments</span>
				</li>	
			</ul>		
		</div>
		<div class="section">
			<h3>Haber listesi</h3>	
			<ul class="news">
				<li>
					<p>You can remove any link to our</p>			
				</li>		
				<li>
					<p>website from this website template, you're free to use</p>				
				</li>	
				<li>
					<p>this website template without linking back to us.</p>							
				</li>		
				<li>
					<p>lorem ipsum dolor sit amet</p>
				</li>
				<li>
					<p>consectetur adipiscing nunc eu augue vel dui cursus</p>				
				</li>
			</ul>	
		</div>
		</div>
	</div>
	<div id="footer">
		 <% include ../footer %>
	</div>
</body>
</html>